In [9]:
import pandas as pd

In [10]:
data = pd.read_csv("bleaches_purplle.csv") #Upload the old category file downloaded from Athena
data.head(20)

,keyword,actual_keyword,category_l1,category_l2,category_l3,category_l4,category_l5,category_l6,category_l7,category_l8,source,score,count
0,bleach,bleach,skincare,facial kits & bleaches,bleaches,NaN,NaN,NaN,NaN,NaN,auto,207.800000,222.0
1,bleaches,bleaches,skincare,facial kits & bleaches,bleaches,NaN,NaN,NaN,NaN,NaN,auto,160.000000,177.0
2,vlccbleach,vlcc bleach,skincare,facial kits & bleaches,bleaches,NaN,NaN,NaN,NaN,NaN,auto,117.400000,133.0
3,o3bleach,o3 bleach,skincare,facial kits & bleaches,bleaches,NaN,NaN,NaN,NaN,NaN,auto,84.800000,71.0
4,o3facialkit,o3 facial kit,skincare,facial kits & bleaches,bleaches,NaN,NaN,NaN,NaN,NaN,auto,77.600006,89.0
5,facebleach,face bleach,skincare,facial kits & bleaches,bleaches,NaN,NaN,NaN,NaN,NaN,auto,73.800000,88.0
6,bleech,bleech,skincare,facial kits & bleaches,bleaches,NaN,NaN,NaN,NaN,NaN,auto,72.400000,86.0
7,facialkitsbleaches,facial kits bleaches,skincare,facial kits & bleaches,bleaches,NaN,NaN,NaN,NaN,NaN,auto,61.000000,67.0
8,oxybleach,oxy bleach,skincare,facial kits & bleaches,bleaches,NaN,NaN,NaN,NaN,NaN,auto,60.000000,63.0
9,oxylifebleach,oxylife bleach,skincare,facial kits & bleaches,bleaches,NaN,NaN,NaN,NaN,NaN,auto,57.600000,63.0
10,mangobleach,mango bleach,skincare,facial kits & bleaches,bleaches,NaN,NaN,NaN,NaN,NaN,auto,47.400000,55.0
11,oxyglowbleach,oxy glow bleach,skincare,facial kits & bleaches,bleaches,NaN,NaN,NaN,NaN,NaN,auto,40.000000,38.0
12,vlccfacialkit,vlcc facial kit,skincare,facial kits & bleaches,bleaches,NaN,NaN,NaN,NaN,NaN,auto,37.000000,33.0
13,fullbodybleach,full body bleach,skincare,facial kits & bleaches,bleaches,NaN,NaN,NaN,NaN,NaN,auto,31.800001,36.0
14,facialkit,facial kit,skincare,facial kits & bleaches,bleaches,NaN,NaN,NaN,NaN,NaN,auto,30.600000,40.0
15,o3bleachcream,o3 bleach cream,skincare,facial kits & bleaches,bleaches,NaN,NaN,NaN,NaN,NaN,auto,30.199999,32.0
16,goldbleach,gold bleach,skincare,facial kits & bleaches,bleaches,NaN,NaN,NaN,NaN,NaN,auto,26.000000,24.0
17,femgoldbleach,fem gold bleach,skincare,facial kits & bleaches,bleaches,NaN,NaN,NaN,NaN,NaN,auto,24.400000,25.0
18,facialkits,facial kits,skincare,facial kits & bleaches,bleaches,NaN,NaN,NaN,NaN,NaN,auto,23.400000,26.0
19,blichcream,blich cream,skincare,facial kits & bleaches,bleaches,NaN,NaN,NaN,NaN,NaN,auto,23.000000,26.0

In [25]:
print(data.isnull().sum()) #Checking the null values

keyword           0
actual_keyword    0
category_l1       0
category_l4       0
category_l5       0
category_l6       0
category_l7       0
category_l8       0
score             0
count             0
category_l2       0
source            0
category_l3       0
dtype: int64

In [12]:
print(data.fillna(value="", inplace=True)) #Fill null values by blanks

In [13]:
print(data.shape)

(174, 13)

In [14]:
#Remove the duplicate rows by keeping top score mapping
data.drop_duplicates(subset=["keyword", "actual_keyword", "category_l1", "category_l2", "category_l3"], keep='first', inplace=True)
data.reset_index(drop=True, inplace=True)
print(data.shape)

(174, 13)

In [16]:
print(data["category_l3"].unique())

array(['bleaches'], dtype=object)

In [17]:
data["new_category_l2"] = "facial kit & bleach" #adding extra columns with new caytegory l2
data["new_source"] = "manual"
data.loc[data['category_l3'] == 'bleaches', 'new_category_l3'] = 'bleach' #Appending a new category_l3 in an additional column when the old category_l3 matches the existing category that needs to be updated.

In [18]:
print(data.head())

,keyword,actual_keyword,category_l1,category_l2,category_l3,category_l4,category_l5,category_l6,category_l7,category_l8,source,score,count,new_category_l2,new_source,new_category_l3
0,bleach,bleach,skincare,facial kits & bleaches,bleaches,,,,,,auto,207.800000,222.0,facial kit & bleach,manual,bleach
1,bleaches,bleaches,skincare,facial kits & bleaches,bleaches,,,,,,auto,160.000000,177.0,facial kit & bleach,manual,bleach
2,vlccbleach,vlcc bleach,skincare,facial kits & bleaches,bleaches,,,,,,auto,117.400000,133.0,facial kit & bleach,manual,bleach
3,o3bleach,o3 bleach,skincare,facial kits & bleaches,bleaches,,,,,,auto,84.800000,71.0,facial kit & bleach,manual,bleach
4,o3facialkit,o3 facial kit,skincare,facial kits & bleaches,bleaches,,,,,,auto,77.600006,89.0,facial kit & bleach,manual,bleach

In [19]:
#Exclude category L2 or L3 for which a new column has been generated.
data.drop(["category_l2", "category_l3", "source"], axis=1, inplace=True)
# data.drop(["category_l3", "source"], axis=1, inplace=True)

In [20]:
#Rename the columns
data.rename(columns={"new_category_l2":"category_l2", "new_category_l3":"category_l3", "new_source":"source"}, inplace=True)

In [21]:
print(data.head())

,keyword,actual_keyword,category_l1,category_l4,category_l5,category_l6,category_l7,category_l8,score,count,category_l2,source,category_l3
0,bleach,bleach,skincare,,,,,,207.800000,222.0,facial kit & bleach,manual,bleach
1,bleaches,bleaches,skincare,,,,,,160.000000,177.0,facial kit & bleach,manual,bleach
2,vlccbleach,vlcc bleach,skincare,,,,,,117.400000,133.0,facial kit & bleach,manual,bleach
3,o3bleach,o3 bleach,skincare,,,,,,84.800000,71.0,facial kit & bleach,manual,bleach
4,o3facialkit,o3 facial kit,skincare,,,,,,77.600006,89.0,facial kit & bleach,manual,bleach

In [22]:
#Converting data into correct format
data_with_new_categories = data[['keyword', 'actual_keyword', 'category_l1', 'category_l2', 'category_l3', 'category_l4', 'category_l5', 'category_l6',
       'category_l7', 'category_l8', 'count', 'score', 'source']]
print(data_with_new_categories.head())

,keyword,actual_keyword,category_l1,category_l2,category_l3,category_l4,category_l5,category_l6,category_l7,category_l8,count,score,source
0,bleach,bleach,skincare,facial kit & bleach,bleach,,,,,,222.0,207.800000,manual
1,bleaches,bleaches,skincare,facial kit & bleach,bleach,,,,,,177.0,160.000000,manual
2,vlccbleach,vlcc bleach,skincare,facial kit & bleach,bleach,,,,,,133.0,117.400000,manual
3,o3bleach,o3 bleach,skincare,facial kit & bleach,bleach,,,,,,71.0,84.800000,manual
4,o3facialkit,o3 facial kit,skincare,facial kit & bleach,bleach,,,,,,89.0,77.600006,manual

In [23]:
print(data_with_new_categories["category_l3"].unique())

array(['bleach'], dtype=object)

In [24]:
#Saving the data in CSV format
data_with_new_categories.to_csv("bleach_category_mapping_purplle_11thJan(CSV).csv" , index=False)